<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat Room</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js" defer></script>
</head>
<body>
  <div class="chat-container">
    <div class="chat-window">
      <ul id="messages"></ul>
    </div>
    <form id="chat-form">
      <input id="message" autocomplete="off" placeholder="Type your message here..." /><button>Send</button>
    </form>
  </div>
</body>
</html>
